
<div class="grid hero">
	<div class="grid">
		<div class="grid">
			<div class="col-4">
				<div class="image-back">
					<%= image_tag("matt1.jpg", height: "100%", width: "100%") %>
				</div>
			</div>
			<div class="col-4">
				<h2>Matthew Gaudio</h2>
				<p>Web Developer</p>
			</div>
			<div class="col-1">
				
			</div>
			<div class="col-3">
				<p class="list-box"><a href="#">List of Resources</a><br/> I used and recommend to learn web development. I left out books I went through that I wouldn't have scored an 8/10 or higher. </p>
			</div>
		</div>
		<div class="grid">
			<div class="col-4">
				<p>Github, Linkedin, resume, Portfolio</p>
			</div>
		</div>
	</div>

	



</div>