
<div class="grid hero">

	<div class="col-12 grid-hero grid-middle">
	<div class="grid hero-1">
		<div class="col-9">
			Dev: Git, Linux, RVM, Gems, Sublime <br>
			Front-End: HTML5, CSS3, Susy, Flexbox, jQuery, Responsive Design, Bootstrap and other Frameworks. <br>
			Back-End: Ruby on Rails (3 years learning), REST, CRUD, Heroku, PostgreSQL <br>
			Libaries: Devise, Cancan, Administrate, Paperclip, AWS S3, APIs integration, Google Analytics <br>
		</div>
	</div>
	<div class="grid hero-1">
		<div class="col-3" push-left="off-.5">
			<div class="image-back">
				<%= image_tag("matt1.jpg", height: "80%", width: "100%") %>
			</div>
			</div>
			<div class="col-4 web-dev" push-left="off-1">
				<h2>Matthew Gaudio</h2>
				<h4>Web Developer</h4>
				<h4>Washington D.C.</h4>
			</div>
			<div class="col-3" push-left="off-1">
				<p class="list-box"><a href="#">List of Resources</a><br/> I used and recommend to learn web development.</p>
		</div>
	</div>
	<div class="grid hero-3">
			<div class="col-4-bottom">
				Github, Linkedin, Resume
			</div>
			<div class="col-4-bottom-center">
				View Projects
			</div>
		</div>
	</div>


</div>
