
<div class="container hero">

	<div class="row">
		<div class="col-xs-4">
			<h2>Matthew Gaudio</h2>
			<p>Web Developer</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-xs-offset-2">
			<p>Github, Linkedin, resume, Portfolio</p>
		</div>
	</div>

</div>