
<div class="container-full hero">
	<div class="row hero-1">
		<div class="col-8 off-2">
			<button class="skills-btn">Skills</button>
			<div class="skills">
				<p>Dev: Git, Linux, RVM, Gems, Sublime</p>
				<p>Front-End: HTML5, CSS3, Susy, Flexbox, jQuery, Responsive Design, Bootstrap and other Frameworks</p>
				<p>Back-End: Ruby on Rails (3 years learning), REST, CRUD, Heroku, PostgreSQL</p>
				<p>Libaries: Devise, Cancan, Administrate, Paperclip, AWS S3, APIs integration, Google Analytics</p>
			</div>
		</div>
	</div>
	<div class="row-flex hero-2">
		<div class="col-3">
		<%= image_tag("matt1.jpg", height: "50%", width: "50%") %>
		</div>
		<div class="col-6 details">
				<h2>Matthew Gaudio</h2>
				<h4>Web Developer</h4>
				<h4>Washington D.C.</h4>
		</div>
		<div class="col-3">
				<p class="list-box"><a href="#">List of Resources</a><br/> I used and recommend to learn web development.</p>
		</div>
	</div>
	<div class="row-flex hero-3">
		<div class="col-4 off-1">Github, Linkedin, Resume, </div>
		<div class="col-3">Projects </div>
	</div>
</div>

<div class="container-full projects">
	
</div>