.contacts {
	height: 100vh;
	width: 100vw;
	background: image-url("sky4") center center no-repeat;

	background-size: 100% 100%;
}

.email-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	height: 100vh;

	h4 {
		color: #000;
		font-weight: 500;
	}
}

.contact-color {
	color: #fff;
}

.contact-button a {
	border: 2px solid white;
}

