.projects {
	height: 100vh;
	width: 100vw;
	background: image-url("pattern2.png") 0 0 repeat;
	background-size: 850px;
}

// .projects-rails {
// 	background: image-url("pattern1.png") 0 0 repeat;
// 	background-size: 200px;

// }

// .projects-php {
// 	background: image-url("pattern2.png") 0 0 repeat;
// 	background-size: 200px;
// }

.hero-1 {
}

.skills-btn {
	margin-top: 2.5vh;
}

.skills-btn {
	background-color: none;
	border: none;
	padding: none;
	color: none;
}

.skills {
	margin-top: 2.5vh;
}

// .skills {
// 	display: none;
// }

// .skills {
// 	display: block;
// }

.row-flex.hero-2 {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.hero-2 {
	text-align: center;
}

.hero-2 .details {
	line-height: 5em;
	letter-spacing: .4em;
}

.row-flex.hero-3 {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;
}

.projects-button  {
	border: 2px solid white;
}

.projects-button a {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(#fff, .4);
	color: rgba(#000, .8);

	&:hover {
		background: rgba(#fff, .6);
		color: rgba(#000, 1);
		cursor: pointer;
	}
	&:visited, &:active {
		text-decoration: none;
	}
}

.projects .row-flex {
	height: 80vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.projects .box-1,
.projects .box-2 {
	border: 2px solid rgba(#fff, .8);
	border-radius: 5px;
	background: rgba(#fff, .4);
	height: 40vh;
	width: 30vw;
	cursor: zoom-in;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		background: rgba(#fff, .6);
	}
}

.website-box {
	height: 90%;
	width: 90%;
	border-radius: 3px;
}


