
    <ul class="list2">
      <li>
        <div><span style="font-weight: bold;">Immediate List</span></div>
      </li>
      <ul>
        <li>
          <div>
            <span style="font-weight: bold;">Rails 6 Agile Web Dev: Book </span
            ><input checked="true" type="checkbox" />
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;"
              >Zero to Hero: SQL: Udemy <input type="checkbox"
            /></span>
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;"
              >Database Design: Udemy <input type="checkbox"
            /></span>
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;"
              >Complete SQL Bootcamp <input type="checkbox"
            /></span>
          </div>
        </li>
        <li>
          <div>
            <b>Database Design with CouchDB <input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <b>Learn Data Modeling <input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;"
              >Agile Web Dev: Active Record Chapter <input type="checkbox"
            /></span>
          </div>
        </li>
      </ul>
      <li>
        <div><span style="font-weight: bold;">Secondary List</span></div>
      </li>
      <ul>
        <li>
          <div>
            <span style="font-weight: bold;"
              >React Bootcamp <input type="checkbox"
            /></span>
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;">Modern Javascript </span
            ><span style="font-weight: bold;"><input type="checkbox" /></span>
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;">Complete React Developer </span
            ><span style="font-weight: bold;"><input type="checkbox" /></span>
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;">Modern Javascript Bootcamp </span
            ><span style="font-weight: bold;"><input type="checkbox" /></span>
          </div>
        </li>
      </ul>
      <li>
        <div><span style="font-weight: bold;">Tertiary List</span></div>
      </li>
      <ul>
        <li>
          <div>
            <span style="font-weight: bold;">25 Gems </span
            ><span style="font-weight: bold;"><input type="checkbox" /></span>
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;">Advanced CSS and Sass </span
            ><span style="font-weight: bold;"><input type="checkbox" /></span>
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;"
              >HTML &amp; CSS From the Beginning <input type="checkbox"
            /></span>
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;"
              >Learn VS Code <input type="checkbox"
            /></span>
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;"
              >Master VS Code <input type="checkbox"
            /></span>
          </div>
        </li>
      </ul>
      <li>
        <div><span style="font-weight: bold;">Testing</span></div>
      </li>
      <ul>
        <li>
          <div>
            <span style="font-weight: bold;">Rails Apis </span
            ><input type="checkbox" />
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;">Ruby Rspec </span
            ><input type="checkbox" />
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;"
              >Rails 5: BDD, Rspec, Capybara </span
            ><input type="checkbox" />
          </div>
        </li>
        <li>
          <div><b>React Mastering TDD </b></div>
        </li>
        <li>
          <div><b>React Testing with Jest</b></div>
        </li>
        <li>
          <div><br /></div>
        </li>
      </ul>
      <li>
        <div><span style="font-weight: bold;">Ruby</span></div>
      </li>
      <ul>
        <li>
          <div>
            <span style="font-weight: bold;">Advanced Ruby: Udemy</span
            ><span style="font-weight: bold;"> </span><input type="checkbox" />
          </div>
        </li>
        <li>
          <div>
            <span style="font-weight: bold;">Ruby Metaprogramming: Udemy </span
            ><span style="font-weight: bold;"> </span><input type="checkbox" />
          </div>
        </li>
        <li>
          <div>
            <b>Learn Ruby the Hard Way </b><b><input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <b>Eloquent Ruby </b><b><input type="checkbox" /></b><br />
          </div>
        </li>
        <li>
          <div>
            <b>Ruby OOD in Ruby </b><b><input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <b>The Ruby Cookbook </b><b><input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <b>Design Patterns in Ruby </b><b><input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <b>Metaprogramming Ruby <input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <b>The Ruby Way <input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <b>Effective Ruby </b><b><input type="checkbox" /></b>
          </div>
        </li>
      </ul>
      <li>
        <div><b>Javascript</b></div>
      </li>
      <ul>
        <li>
          <div><b>The Modern Javascript Collection </b></div>
        </li>
        <li>
          <div><b>Javascript and jQuery</b></div>
        </li>
      </ul>
      <li>
        <div><span style="font-weight: bold;">Algorithms</span></div>
      </li>
      <ul>
        <li>
          <div>
            <span style="font-weight: bold;">Codility Ruby </span
            ><span style="font-weight: bold;"> </span><input type="checkbox" />
          </div>
        </li>
        <li>
          <div>
            <b>The Coding Interview Bootcamp <input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <b>Easy to Advanced Data Structures </b
            ><b><input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <b>Javascript Algorithms and Data Structures Masterclass </b
            ><b><input type="checkbox" /></b>
          </div>
        </li>
        <li>
          <div>
            <b>The Complete Masterclass </b><b><input type="checkbox" /></b>
          </div>
        </li>
      </ul>
      <li>
        <div><span style="font-weight: bold;">Digital Ocean</span></div>
      </li>
      <ul>
        <li>
          <div>
            <span style="font-weight: bold;"
              >Digital Ocean Fundamentals: Udemy </span
            ><span style="font-weight: bold;"> </span><input type="checkbox" />
          </div>
        </li>
        <li>
          <div><br /></div>
        </li>
      </ul>
    </ul>
    <div><br /></div>
