// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./partials";
// Across the great plains

.hero {
  height: 92vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .row {
    width: 80%;
    border-radius: 15px;
    margin-bottom: 2.5vh;
    &:first {
      margin-top: 2.5vh;
    }
  }
}

.header-row {
  background-color: rgba(#fff, 0.35);
  height: 20vh;
}

.body-row {
  background-color: rgba(#fff, 0.35);
  height: 40vh;
}

.base-row {
  background-color: rgba(#fff, 0.35);
  height: 10vh;
}

// Trident
.trident-hero {
  background-image: image-url("trident7.jpg");
  background-position: center center;
  background-size: cover;
}

// Magnifico

.magnifico-hero {
  background-image: image-url("magnifico1.jpg");
  background-position: center center;
  background-size: cover;
}

// Frontier
.frontier-hero {
  background-image: image-url("frontier1.jpg");
  background-position: center center;
  background-size: cover;
}

// Veritus

.veritus-hero {
  background-image: image-url("veritus3.jpg");
  background-position: center center;
  background-size: cover;
}
